
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
.video-details-section {
    color: red;
    padding: 0 8%;

    &__comments-count {
        font-weight: bold;
    }

    &__title {
        font-size: 2rem;
        font-weight: bold;
        line-height: 2.88rem;
        border-bottom: 2px solid red;
        padding-bottom: 1rem;
        margin-bottom: 0rem;
    }


    &__statistics-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 2px solid red;
        padding: 0 0.30rem;
    }

    &__channel {
        font-weight: bold;
        font-size: 1rem;
    }

    &__date {
        color: #b1afb1;
        font-size: 1rem;
    }

    &__views-icon {
        display: inline-block;

        path {
            fill: #1774ff9c;
            stroke: none;
        }
    }

    &__likes-icon {
        display: inline-block;

        path {
            fill: rgba(200, 0, 0, 0.587);
            stroke: none;
        }
    }

    &__views {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0.5rem;
        color: #b1afb1;
    }

    &__likes {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0.5rem;
        color: #b1afb1;
    }

    &__description {
        line-height: 1.55rem;
    }
}


@include tablet{
    .video-details-section {
        &__title {
            border-bottom: none;
            padding-bottom: 0;
        }

        &__statistics-container {
            justify-content: space-between;
            padding-bottom: 0;
        }

        &__views-and-likes {
            display: flex;
            flex: 0 1 auto;
            gap: 3rem;
        }

        &__channel-and-date {
            display: flex;
            flex: 0 1 auto;
            gap: 3rem;
        }

        & h5 {
            margin-bottom: 0.5rem;
        }
    }
}

@include desktop {
    .video-details-section {
        padding-right: 0;

        &__statistics-container {
            padding-right: 1rem;
        }

        &__description {
            padding-right: 1rem;
        }
    }
}