@use "./variables" as *;

@mixin desktop {
  @media (min-width: $Desktop-breakpoint) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $Tablet-breakpoint) {
    @content;
  }
}

@mixin text-styles($font-size, $line-height, $font-weight) {
  font-size: calc($font-size / $font-size-base) * 1rem * $ratio;
  line-height: calc($line-height / $font-size-base) * 1rem * $ratio;
  font-weight: $font-weight;
}

@mixin container-layout(
  $padding-top,
  $padding-bottom,
  $padding-left,
  $padding-right,
  $gutter
) {
  padding: $padding-top $padding-right $padding-bottom $padding-left;
  gap: $gutter;

  > * {
    box-sizing: border-box;
  }
}
// regular container without headline by default;
@mixin regular-container($hasHeadline: false, $pos: "center") {
  //mobile mode
  @if $hasHeadline {
    @include container-layout(24px, 16px, 16px, 16px, 16px);
  } @else {
    @include container-layout(16px, 16px, 16px, 16px, 16px);
  }
  //desktop/tablet
  @include tablet {
    @if $hasHeadline {
      @include container-layout(36px, 24px, 24px, 24px, 24px);
    } @else {
      @include container-layout(24px, 24px, 24px, 24px, 24px);
    }
  }

  @include desktop {
    @if $pos== "left" {
      @if $hasHeadline {
        @include container-layout(48px, 32px, calc(10vw - 90px), 0px, 24px);
      } @else {
        @include container-layout(32px, 32px, calc(10vw - 90px), 0px, 24px);
      }
    } @else if $pos== "right" {
      @if $hasHeadline {
        @include container-layout(48px, 32px, 0px, calc(10vw - 90px), 24px);
      } @else {
        @include container-layout(32px, 32px, 0px, calc(10vw - 90px), 24px);
      }
    } @else {
      @if $hasHeadline {
        @include container-layout(
          48px,
          32px,
          calc(10vw - 90px),
          calc(10vw - 90px),
          24px
        );
      } @else {
        @include container-layout(
          32px,
          32px,
          calc(10vw - 90px),
          calc(10vw - 90px),
          24px
        );
      }
    }
  }
}

@mixin sub-container($pos: "center") {
  @include container-layout(24px, 24px, 0px, 0px, 16px);
  @include tablet {
    @include container-layout(24px, 24px, 0px, 0px, 24px);
  }

  @include desktop {
    @if $pos == "left" {
      @include container-layout(24px, 24px, 0px, 24px, 24px);
    }
    @if $pos == "right" {
      @include container-layout(24px, 24px, 24px, 0px, 24px);
    }
  }
}

@mixin sub-container-flexItem($pos: "center") {
  @include container-layout(24px, 0px, 0px, 0px, 16px);
  @include tablet {
    @include container-layout(24px, 0px, 0px, 0px, 24px);
  }

  @include desktop {
    @if $pos == "left" {
      @include container-layout(24px, 0px, 0px, 24px, 24px);
    }
    @if $pos == "right" {
      @include container-layout(24px, 0px, 24px, 0px, 24px);
    }
  }
}




@mixin elements-glutter {
  gap: 16px;
  @include tablet {
    gap: 24px;
  }
}
