$font-size-base:16;
$ratio:1.5;
$Desktop-breakpoint: 1280px;
$Tablet-breakpoint: 768px;


//primary-color
$BrainFlix-Black: #323232;
$BrainFlix-Blue: #0095FF;
$BrainFlix-Silver: #AFAFAF;
$BrainFlix-White: #FFFFFF;

//secondary-color
$BrainFlix-DarkBlack: #000000;
$BrainFlix-DarkBlue: #0065AD;
$BrainFlix-Mercury: #E1E1E1;
$BrainFlix-Alabaster: #FAFAFA;
