
@use "../../../styles/partials/variables" as *;
@use "../../../styles/partials/mixins" as *;

.button {
    background-color: $BrainFlix-Blue;
    color:$BrainFlix-White;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    flex:1;
    position: relative;
    height: 50px;
    box-sizing: border-box;
    width: 18vw;
    min-width: 180px;
    max-width: 400px;
    &:hover{
      background-color: $BrainFlix-DarkBlue;
    }
  }
  
  .icon {
    margin-right: 0.5rem;
    position: absolute;
    left: 1rem;
    top:13px;
  }
  
  .text {
    text-align: center;

  }
  