@use "./styles/partials/fonts" as *;
@use "./styles/partials/mixins" as *;
@use "./styles/partials/variables" as *;



* {
  font-family: 'AvenirNext LT Pro';
  margin: 0;
  padding: 0;
}


body {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;

  font-family: 'AvenirNext LT Pro';
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

//main header

h1 {
  @include text-styles(24,32,600);
  @include tablet {
    @include text-styles(24,32,700);
  }
}
//sub header
h2 {
  @include text-styles(13,18,600);
  @include tablet {
    @include text-styles(14,22,600);
  }
}

p {
  @include text-styles(13,18,400);
  @include tablet {
    @include text-styles(14,22,400);
  }
}

label,
button {
  text-transform: uppercase;
  @include text-styles(10,20,600);
  @include tablet {
    @include text-styles(12,20,600);
  }
}

input,
textarea {
  @include text-styles(10,15,400);
  @include tablet {
    @include text-styles(12,17,400);
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
