@use "./styles/partials/fonts" as *;
@use "./styles/partials/mixins" as *;
@use "./styles/partials/variables" as *;

* {
  font-family: 'AvenirNext LT Pro';
}


body {
  margin: 0;
  font-family: 'AvenirNext LT Pro';
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

//main header
h1 {
  @include text-styles(24,32,700);
  @include tablet {
    @include text-styles(24,32,700);
  }
}
//sub header
h2 {
  @include text-styles(13,18,700);
  @include tablet {
    @include text-styles(14,22,700);
  }
}

p {
  @include text-styles(13,18,400);
  @include tablet {
    @include text-styles(14,22,400);
  }
}

label,
button {
  text-transform: uppercase;
  @include text-styles(10,20,600);
  @include tablet {
    @include text-styles(12,20,600);
  }
}

input {
  @include text-styles(10,20,400);
  @include tablet {
    @include text-styles(12,20,400);
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
